*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

form {
  width: 50%;
  margin: auto;
}
/*
button {
  background-color: black;
  border: none;
  color: white;
  border-radius: 10px;
} */
/*///////////////// LOGIN page //////////////////////*/
.container-login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.col-12 h1 {
 font-size: 4rem;
}

.row{
  text-align: center;
}

/*///////////////// ADMIN page //////////////////////*/
.container-admin {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.menuText {
  text-align: center;
}
.menuText h1 {
   font-size: 4rem;
   padding-bottom: 5px;
   border-bottom: 2px solid black;
}

.button-admin {
  margin-right: 10px;
}

.container-fluid {
  padding: 0;
}

#video {
  visibility: hidden;
}

.db-info {
  margin-left: 5%;
}

.db-info h2 {
  margin: 1.5% 0;
}

.navbar-toggler {
  background-color: black;
  color: white;
}

/*////////////// ANIMACIA ///////////*/
.intro{
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
}

.intro-text{
  color: white;
  font-size: 3rem;
}

.hide{
  background: black;
  overflow: hidden;
}
.hide span {
  transform: translateY(100%);
  display: inline-block;
}
/*
input {
  border: none;
  border-bottom: 2px black solid;
}
.bocny-panel {
 width:  15%;
 height: 100vh;
 position: fixed;
 background-color: purple;
}
.bocny-panel div {
  position: relative;
}
.nadpis{
  color: white;
  position: absolute;
  top: 50vh;
  left: -50%;
  transform: translate(-50%);
  transform: rotate(-90deg);
  font-size: 5rem;
}
.content{
  margin-left: 15%;
}
.content h1 {
  margin: 0;
  text-align: center;
  padding: 5%;
  background-color: grey;
  color: white;
}
.content .meno {
  margin-left:  5%;
  margin-top: 5%;
  display: inline-block;
}
.content .textInput {
    margin-left:  5%;
    margin-top: 1%;

}
.content button {
  margin-left:  10%;
  margin-top: 1%;
}
.okienko {
  margin-left: 10%;
  margin-top: 1%;
}
.textDB {
  display: inline-block;
  border-bottom: 1px black solid;
  padding: 1%;
  margin-left:0;

}
.menoDB{
  display: inline-block;
  border-bottom: 1px black solid;
  border-right: 1px black solid;
  padding: 1%;
  margin-right: 0;
}
*/
